
.product-detail-container {
    max-width: 1024px;
    margin: 32px auto;
    padding: 16px;
    display: flex;
    gap: 128px; 
  }
  
  .product-detail-container .image-container {
    flex: 0 0 35%;
  }
  
  .product-detail-container img {
    width: 100%;
    height: 525px;
    border-radius: 8px;
  }
  
  .product-detail-container .details-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 52px;
    border: 2px solid #ddd; 
    border-radius: 8px; 
    padding: 16px; 
    background-color: #f9f9f9; 
  }
  
  .product-detail-container .detail-item {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin-bottom: 12px;
  }
  
  .product-detail-container .detail-title {
    font-weight: bold;
    color: #333;
    margin-bottom: 4px; 
    text-align: center; 
  }
  
  .product-detail-container .detail-content {
    color: #555;
    text-align: center; 
    font-weight: bold;

  }
  